<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>BT Parser</title>
  <script src="./asserts/head.js"></script>
</head>

<body style="overflow: hidden;">
  <div id="root" style="height:100%;">
    <pan-navbar title="磁力转换"></pan-navbar>

    <div class="mainContainer p-3">

      <div class="field is-horizontal" id="rawdiv">
        <div class="field-label">原始地址</div>
        <div class="field-body">
          <div class="field is-expanded">
            <div class="field has-addons">
              <p class="control is-expanded">
                <input class="input" type="text" placeholder="" v-model="raw">
              </p>
              <p class="control">
                <button class="button is-success is-medium is-outlined" @click="copy('#rawdiv input')"><i
                    class="fa fa-copy"></i></button>
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="field has-addons has-addons-centered">
        <p class="control"><button class="button is-success is-small is-dark" @click="convert(1)">UTF-16转换</button></p>
        <p class="control"><button class="button is-success is-small is-dark" @click="convert(2)">Unicode转换</button></p>
        <p class="control"><button class="button is-success is-small is-dark" @click="convert(3)">GBK转换</button></p>
      </div>

      <div class="field is-horizontal" id="btdiv">
        <div class="field-label">真实地址</div>
        <div class="field-body">
          <div class="field is-expanded">
            <div class="field has-addons">
              <p class="control is-expanded">
                <input class="input" type="text" placeholder="" v-model="bturl">
              </p>
              <p class="control">
                <button class="button is-success is-medium is-outlined" @click="copy('#btdiv input')">
                  <i class="fa fa-copy"></i>
                </button>
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="field has-addons has-addons-centered">
        <p class="control">
          <button class="button is-success is-outlined" @click="jumpToDownload('http://btcache.me/torrent/')">
            <i class="fa fa-cloud-download-alt"> btcache.me</i>
          </button>
        </p>
        <p class="control">
          <button class="button is-success is-outlined"
            @click="jumpToDownload('https://itorrents.org/torrent/','.torrent')">
            <i class="fa fa-cloud-download-alt"> itorrents.org</i>
          </button>
        </p>
        <p class="control">
          <button class="button is-success is-outlined"
            @click="jumpToDownload('https://www.yandex.com/search/?text=')">
            <i class="fa fa-cloud-download-alt"> yandex</i>
          </button>
        </p>
      </div>

      <div class="field is-horizontal" id="thunderDiv">
        <div class="field-label">迅雷地址</div>
        <div class="field-body">
          <div class="field is-expanded">
            <div class="field has-addons">
              <p class="control is-expanded">
                <input class="input" type="text" placeholder="" v-model="thunderurl">
              </p>
              <p class="control">
                <button class="button is-success is-medium is-outlined" @click="copy('#thunderDiv input')">
                  <i class="fa fa-copy"></i>
                </button>
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="field is-horizontal" id="flashgetdiv">
        <div class="field-label">快车地址</div>
        <div class="field-body">
          <div class="field is-expanded">
            <div class="field has-addons">
              <p class="control is-expanded">
                <input class="input" type="text" placeholder="" v-model="flashgeturl">
              </p>
              <p class="control">
                <button class="button is-success is-medium is-outlined" @click="copy('#flashgetdiv input')">
                  <i class="fa fa-copy"></i>
                </button>
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="field is-horizontal" id="qqDiv">
        <div class="field-label">旋风地址</div>
        <div class="field-body">
          <div class="field is-expanded">
            <div class="field has-addons">
              <p class="control is-expanded">
                <input class="input" type="text" placeholder="" v-model="qqurl">
              </p>
              <p class="control">
                <button class="button is-success is-medium is-outlined" @click="copy('#qqDiv input')">
                  <i class="fa fa-copy"></i>
                </button>
              </p>
            </div>
          </div>
        </div>
      </div>


      <div class="field has-addons has-addons-centered">
        <span id="thunderdownload"></span>
        <span id="otherdownload"></span>
      </div>

    </div>
  </div>

  <script src="./asserts/encrypt.util.js"></script>
  <script>
    new Vue({
      el: '#root',
      data() {
        return {
          raw: '',
          // raw: 'magnet:?xt=urn:btih:8d434f4722345acc40811f9fc57a7f7a20456f48',
          bturl: '',
          thunderurl: '',
          flashgeturl: '',
          qqurl: '',
        }
      },
      mounted() {
        window.ConvertURL2FG = this.convertURL2FG;
      },
      methods: {
        copy(selector) {
          let transfer = document.querySelector(selector);
          transfer.focus();
          transfer.select();
          if (document.execCommand('copy')) {
            document.execCommand('copy');
          }
          transfer.blur();
          PanToast.alert('复制成功!', 'alert-info');
        },
        convertURL2FG(url, fUrl, uid) {
          try {
            FlashgetDown(url, uid);
          } catch (e) {
            location.href = fUrl;
          }
        },
        convert(flag) {
          function ThunderEncode(t_url) {
            var thunderPrefix = "AA";
            var thunderPosix = "ZZ";
            var thunderTitle = "thunder://";
            var tem_t_url = t_url;
            var thunderUrl = thunderTitle + EncryptUtil.base64.encode64(EncryptUtil.utf16to8(thunderPrefix + tem_t_url + thunderPosix)) + '==';
            return thunderUrl;
          }
          function Thunderdecode(url) {
            url = url.replace('thunder://', '');
            let thunderUrl = EncryptUtil.utf8to16(EncryptUtil.base64.decode64(url));
            thunderUrl = thunderUrl.substr(2, thunderUrl.length - 4);
            return thunderUrl;
          }
          // function ThunderEncode1(t_url) {
          //     var thunderPrefix = "AA";
          //     var thunderPosix = "ZZ";
          //     var thunderTitle = "thunder://";
          //     var tem_t_url = t_url;
          //     var thunderUrl = thunderTitle + EncryptUtil.base64.encode64(EncryptUtil.Ansi.strUnicode2Ansi(thunderPrefix + tem_t_url + thunderPosix))+'==';
          //     return thunderUrl;
          // }
          function Thunderdecode1(url) {
            url = url.replace('thunder://', '');
            let thunderUrl = EncryptUtil.Ansi.strAnsi2Unicode(EncryptUtil.base64.decode64(url));
            thunderUrl = thunderUrl.substr(2, thunderUrl.length - 4);
            return thunderUrl;
          }
          function Thunderdecode2(url) {
            url = url.replace('thunder://', '');
            url = url.substr(0, url.length - 2);
            let thunderUrl = new TextDecoder('gbk').decode(new Uint8Array(EncryptUtil.base64.toBytes(url)));
            thunderUrl = thunderUrl.replace(/\s/g, "").substr(2, thunderUrl.length - 4);
            console.log(thunderUrl)
            return thunderUrl;
          }



          function flashgetencode(url) {
            url = 'Flashget://' + EncryptUtil.base64.encode64(EncryptUtil.utf16to8('[FLASHGET]' + url + '[FLASHGET]')) + '&1926';
            return url;
          }
          function Flashgetdecode(url) {
            url = url.replace('Flashget://', '');
            if (url.indexOf('&') != -1) {
              url = url.substr(0, url.indexOf('&'));
            }
            url = EncryptUtil.utf8to16(EncryptUtil.base64.decode64(url));
            flashgeturl = url.replace('[FLASHGET]', '').replace('[FLASHGET]', '');
            return flashgeturl;
          }


          function qqencode(url) {
            return 'qqdl://' + EncryptUtil.base64.encode64(EncryptUtil.utf16to8(url));
          }
          function qqdecode(url) {
            return EncryptUtil.utf8to16(EncryptUtil.base64.decode64(url.replace('qqdl://', '')));
          }


          let oldurl = this.raw;
          if (oldurl == '') {
            return;
          }
          let newurl;
          if (oldurl.indexOf("thunder://") != -1) {
            if (flag === 1) {
              newurl = Thunderdecode(oldurl);
            } else if (flag === 2) {
              newurl = Thunderdecode1(oldurl);
            } else if (flag === 3) {
              newurl = Thunderdecode2(oldurl);
            }
          } else if (oldurl.indexOf("Flashget://") != -1) {
            newurl = Flashgetdecode(oldurl);
          } else if (oldurl.indexOf("qqdl://") != -1) {
            newurl = qqdecode(oldurl);
          } else {
            newurl = oldurl;
          }

          let thunderurl;
          // if(flag===1){
          thunderurl = ThunderEncode(newurl);
          // }else if (flag===2) {
          //     thunderurl = ThunderEncode1(newurl);
          // }
          let flashgeturl = flashgetencode(newurl);
          let qqurl = qqencode(newurl);

          this.reWrite(oldurl, newurl, thunderurl, flashgeturl, qqurl);
        },
        reWrite(oldurl, newurl, thunderurl, flashgeturl, qqurl) {
          function createThunderDownLoadADOm(label, url, title, id, name, cls, style) {
            return [
              "<a",
              "	oncontextmenu=ThunderNetwork_SetHref(this) ",
              id ? "id='" + id + "'" : "",
              name ? "name='" + name + "'" : "",
              "	style='" + (style || "") + "'",
              "	class='" + (cls || "") + "'",
              ' 	onclick="return OnDownloadClick_Simple(this)" ',
              '	href="' + url + '"',
              ' 	thunderResTitle="' + (title || "迅雷下载") + '"',
              ' 	thunderType="04"',
              ' 	thunderPid="00008"',
              ' 	thunderHref="' + url + '"',
              '>' + (label || "迅雷下载") + '</a>'
            ].join("");
          }
          function createFlashgetOrOtherDownLoadADOm(label, url, flashgeturl, id, name, cls, style) {
            var str = "<a href='javascript://' class='" + cls + "' onclick='ConvertURL2FG(\"" + flashgeturl + "\",\"" + url + "\",1926)'>" + label + "</a>";
            return str;
          }
          this.bturl = newurl;
          this.thunderurl = thunderurl;
          this.flashgeturl = flashgeturl;
          this.qqurl = qqurl;
          document.getElementById("thunderdownload").innerHTML = createThunderDownLoadADOm("迅雷下载", thunderurl, "迅雷下载", null, null, "btn btn-link", null);
          document.getElementById("otherdownload").innerHTML = createFlashgetOrOtherDownLoadADOm("其他下载", newurl, flashgeturl, null, null, "btn btn-link", null);
        },
        jumpToDownload(rootUrl, footUrl) {
          window.open(rootUrl + this.raw.replace('magnet:?xt=urn:btih:', "") + (footUrl ? footUrl : ""));
        }
      }
    })
  </script>
</body>

</html>