<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Coordinates Parser</title>
    <script src="./asserts/head.js"></script>
</head>

<body style="overflow: hidden;">
    <div id="root" style="height:100%;">
        <pan-navbar title="经纬转换"></pan-navbar>

        <div class="mainContainer p-3">

            <div class="field is-horizontal" id="rawdiv">
                <div class="field-label">经纬度转换</div>
                <div class="field-body">
                    <div class="field is-expanded">
                        <div class="field has-addons">
                            <p class="control">
                                <span class="button">小数形式</span>
                            </p>
                            <p class="control is-expanded">
                                <input class="input" type="text" placeholder="" v-model="xiaoshu">
                            </p>
                            <p class="control">
                                <button class="button is-success is-medium is-outlined" @click="changeToDFM">
                                    <i class="fa fa-exchange-alt"></i>
                                </button>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="field is-horizontal" id="rawdiv">
                <div class="field-label"></div>
                <div class="field-body">
                    <div class="field is-expanded">
                        <div class="field has-addons">
                            <p class="control">
                                <span class="button">度分秒形式</span>
                            </p>
                            <p class="control is-expanded">
                                <input class="input" type="text" placeholder="" v-model="dufenmiao">
                            </p>
                            <p class="control">
                                <button class="button is-success is-medium is-outlined" @click="parseToDu">
                                    <i class="fa fa-exchange-alt"></i>
                                </button>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="field is-horizontal">
                <div class="field-label"></div>
                <div class="field-body">
                    <div class="field is-expanded">
                        <div class="field has-addons">
                            <p class="control">
                                <span class="button">度（ ° ）</span>
                            </p>
                            <p class="control is-expanded">
                                <input class="input" type="text" placeholder="" v-model="du">
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="field is-horizontal">
                <div class="field-label"></div>
                <div class="field-body">
                    <div class="field is-expanded">
                        <div class="field has-addons">
                            <p class="control">
                                <span class="button">分（ ' ）</span>
                            </p>
                            <p class="control is-expanded">
                                <input class="input" type="text" placeholder="" v-model="fen">
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="field is-horizontal">
                <div class="field-label"></div>
                <div class="field-body">
                    <div class="field is-expanded">
                        <div class="field has-addons">
                            <p class="control">
                                <span class="button">秒（ &quot; ）</span>
                            </p>
                            <p class="control is-expanded">
                                <input class="input" type="text" placeholder="" v-model="miao">
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="field is-horizontal">
                <div class="field-label"></div>
                <div class="field-body">
                    <div class="field is-expanded">
                        <div class="field has-addons">
                            <p class="control">
                                <button class="button is-outlined" type="button" @click="changeToDu"><i
                                        class="fa fa-exchange-alt"></i></button>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <hr>

            <div class="field is-horizontal" id="xsdiv">
                <div class="field-label"></div>
                <div class="field-body">
                    <div class="field is-expanded">
                        <div class="field has-addons">
                            <p class="control">
                                <span class="button">小数</span>
                            </p>
                            <p class="control is-expanded">
                                <input class="input" type="text" placeholder="" v-model="newVal1">
                            </p>
                            <p class="control">
                                <button class="button is-success is-medium is-outlined" @click="copy('#xsdiv input')">
                                    <i class="fa fa-copy"></i>
                                </button>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="field is-horizontal" id="dfmdiv">
                <div class="field-label"></div>
                <div class="field-body">
                    <div class="field is-expanded">
                        <div class="field has-addons">
                            <p class="control">
                                <span class="button">度分秒</span>
                            </p>
                            <p class="control is-expanded">
                                <input class="input" type="text" placeholder="" v-model="newVal2">
                            </p>
                            <p class="control">
                                <button class="button is-success is-medium is-outlined" @click="copy('#dfmdiv input')">
                                    <i class="fa fa-copy"></i>
                                </button>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="field is-horizontal">
                <div class="field-label"><span class="tag is-success">坐标系互转</span></div>
                <div class="field-body">
                    <div class="field is-expanded">
                        <div class="field has-addons">
                            <p class="control">
                                <span class="button">经度（小数）</span>
                            </p>
                            <p class="control is-expanded">
                                <input class="input" type="text" placeholder="" v-model="jdValue">
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="field is-horizontal">
                <div class="field-label"></div>
                <div class="field-body">
                    <div class="field is-expanded">
                        <div class="field has-addons">
                            <p class="control">
                                <span class="button">纬度（小数）</span>
                            </p>
                            <p class="control is-expanded">
                                <input class="input" type="text" placeholder="" v-model="wdValue">
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="field is-horizontal">
                <div class="field-label"></div>
                <div class="field-body">
                    <div class="field is-expanded">
                        <div class="field has-addons">
                            <p class="control">
                                <button class="button is-success is-dark is-outlined" @click="fromGcj02">从火星坐标系转换</button>
                            </p>
                            <p class="control">
                                <button class="button is-success is-dark is-outlined" @click="fromBd09">从百度坐标系转换</button>
                            </p>
                            <p class="control">
                                <button class="button is-success is-dark is-outlined" @click="fromWgs84">从大地坐标系转换</button>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="field is-horizontal" id="gcj02div">
                <div class="field-label"> <span class="tag is-success">坐标系互转</span></div>
                <div class="field-body">
                    <div class="field is-expanded">
                        <div class="field has-addons">
                            <p class="control">
                                <span class="button" style="font-size: 0.62rem;">火星坐标系 (GCJ-02)<br>【国内谷歌、高德】</span>
                            </p>
                            <p class="control is-expanded">
                                <input class="input" type="text" placeholder="" v-model="gcj02Value">
                            </p>
                            <p class="control">
                                <button class="button is-success is-medium is-outlined"
                                    @click="copy('#gcj02div input')">
                                    <i class="fa fa-copy"></i>
                                </button>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="field is-horizontal" id="bd09div">
                <div class="field-label"></div>
                <div class="field-body">
                    <div class="field is-expanded">
                        <div class="field has-addons">
                            <p class="control">
                                <span class="button" style="font-size: 0.62rem;">百度坐标系 (BD-09)<br>【百度】</span>
                            </p>
                            <p class="control is-expanded">
                                <input class="input" type="text" placeholder="" v-model="bd09Value">
                            </p>
                            <p class="control">
                                <button class="button is-success is-medium is-outlined" @click="copy('#bd09div input')">
                                    <i class="fa fa-copy"></i>
                                </button>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="field is-horizontal" id="wgs84div">
                <div class="field-label"></div>
                <div class="field-body">
                    <div class="field is-expanded">
                        <div class="field has-addons">
                            <p class="control">
                                <span class="button" style="font-size: 0.62rem;">大地坐标系 (WGS84)<br>【国外谷歌】</span>
                            </p>
                            <p class="control is-expanded">
                                <input class="input" type="text" placeholder="" v-model="wgs84Value">
                            </p>
                            <p class="control">
                                <button class="button is-success is-medium is-outlined"
                                    @click="copy('#wgs84div input')">
                                    <i class="fa fa-copy"></i>
                                </button>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <br>
            <br>

        </div>


    </div>

    <script src="./asserts/coordtransform.js"></script>
    <script>
        new Vue({
            el: '#root',
            data() {
                return {
                    newVal2: '',
                    newVal1: '',
                    jdValue: '',
                    wdValue: '',
                    wgs84Value: '',
                    bd09Value: '',
                    gcj02Value: '',
                    xiaoshu: '',
                    dufenmiao: '',
                    du: '',
                    fen: '',
                    miao: '',

                }
            },
            mounted() {
            },
            methods: {
                copy(selector) {
                    let transfer = document.querySelector(selector);
                    transfer.focus();
                    transfer.select();
                    if (document.execCommand('copy')) {
                        document.execCommand('copy');
                    }
                    transfer.blur();
                    PanToast.alert('复制成功!', 'alert-info');
                },

                changeToDFM() {
                    var du = this.xiaoshu;
                    var str1 = du.split(".");
                    if (str1.length > 2) {
                        alert("异常数据");
                        return;
                    }
                    var du1 = str1[0];
                    var tp = "0." + str1[1]
                    var tp = String(tp * 60.00);		//这里进行了强制类型转换
                    var str2 = tp.split(".");
                    var fen = str2[0];
                    tp = "0." + (str2[1] || 0);
                    tp = tp * 60;
                    var miao = tp;
                    this.newVal2 = du1 + "°" + fen + "'" + miao + "\"";
                    this.newVal1 = du;
                },

                changeToDu() {
                    var d = this.du;
                    var f = this.fen;
                    var m = this.miao;

                    var ff = parseFloat(f) + parseFloat(m / 60);
                    var du = parseFloat(ff / 60) + parseFloat(d);
                    this.newVal1 = du;
                    this.newVal2 = d + "°" + f + "'" + m + "\"";
                },

                parseToDu() {
                    var all = this.dufenmiao;
                    var str1 = all.trim().split("°");
                    this.du = str1[0];
                    var str2 = str1[1].trim().replace("′", "'").split("'");
                    this.fen = str2[0];
                    this.miao = str2[1].replace("″", "").replace("\"", "");
                },

                fromGcj02() {
                    this.gcj02Value = this.jdValue + "," + this.wdValue
                    var tmp = gcj02tobd09(this.jdValue, this.wdValue)
                    this.bd09Value = tmp.join(",")
                    this.wgs84Value = gcj02towgs84(this.jdValue, this.wdValue).join(",")
                },

                fromBd09() {
                    this.bd09Value = this.jdValue + "," + this.wdValue
                    var tmp = bd09togcj02(this.jdValue, this.wdValue)
                    this.gcj02Value = tmp.join(",")
                    this.wgs84Value = gcj02towgs84(tmp[0], tmp[1]).join(",")
                },

                fromWgs84() {
                    this.wgs84Value = this.jdValue + "," + this.wdValue
                    var tmp = wgs84togcj02(this.jdValue, this.wdValue)
                    this.gcj02Value = tmp.join(",")
                    this.bd09Value = gcj02tobd09(tmp[0], tmp[1]).join(",")
                }
            }
        })
    </script>
</body>

</html>