<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Finance Parser</title>
  <script src="./asserts/head.js"></script>
</head>

<body style="overflow: hidden;">
  <div id="root" style="height:100%;">
    <pan-navbar title="金融转换"></pan-navbar>

    <div  class="mainContainer p-3">

      <div class="field is-horizontal" id="rawdiv">
        <div class="field-label">金额（数字）</div>
        <div class="field-body">
          <div class="field is-expanded">
            <div class="field has-addons">
              <p class="control is-expanded">
                <input class="input" type="number" placeholder="" v-model="raw">
              </p>
              <p class="control">
                <button class="button is-success is-medium is-outlined" @click="convert()"><i class="fa fa-exchange-alt"></i></button>
              </p>
              <p class="control">
                <button class="button is-success is-medium is-outlined" @click="copy('#rawdiv input')"><i
                    class="fa fa-copy"></i></button>
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="field is-horizontal" id="btdiv">
        <div class="field-label">金额（标准）</div>
        <div class="field-body">
          <div class="field is-expanded">
            <div class="field has-addons">
              <p class="control is-expanded">
                <input class="input" type="text" placeholder="" v-model="newVal">
              </p>
              <p class="control">
                <button class="button is-success is-medium is-outlined" @click="copy('#btdiv input')"><i
                    class="fa fa-copy"></i></button>
              </p>
            </div>
          </div>
        </div>
      </div>


   
    </div>
    </div>

   
  </div>

  <script>
    new Vue({
      el: '#root',
      data() {
        return {
          raw: '',
          newVal: '',
        }
      },
      mounted() {
      },
      methods: {
        copy(selector) {
          let transfer = document.querySelector(selector);
          transfer.focus();
          transfer.select();
          if (document.execCommand('copy')) {
            document.execCommand('copy');
          }
          transfer.blur();
          PanToast.alert('复制成功!','alert-info');
        },
        convert () {
            this.newVal=this.changeMoneyToChinese(this.raw)
        },
        changeMoneyToChinese(money) {
            var cnNums = ["零", "壹", "贰", "叁", "肆", "伍", "陆", "柒", "捌", "玖"]; //汉字的数字
            var cnIntRadice = ["", "拾", "佰", "仟"]; //基本单位
            var cnIntUnits = ["", "万", "亿", "兆"]; //对应整数部分扩展单位
            var cnDecUnits = ["角", "分", "毫", "厘"]; //对应小数部分单位
            var cnIntLast = "元"; //整型完以后的单位
            var maxNum = 999999999999999.9999; //最大处理的数字

            var IntegerNum; //金额整数部分
            var DecimalNum; //金额小数部分
            var ChineseStr = ""; //输出的中文金额字符串
            var parts; //分离金额后用的数组，预定义
            if (money === "") {
                return "";
            }
            money = parseFloat(money);
            if (money >= maxNum) {
                alert('超出最大处理数字');
                return "";
            }
            if (money === 0) {
                ChineseStr = cnNums[0] + cnIntLast
                return ChineseStr;
            }
            money = money.toString(); //转换为字符串
            if (money.indexOf(".") === -1) {
                IntegerNum = money;
                DecimalNum = '';
            } else {
                parts = money.split(".");
                IntegerNum = parts[0];
                DecimalNum = parts[1].substr(0, 4);
            }
            if (parseInt(IntegerNum, 10) > 0) { //获取整型部分转换
                let zeroCount = 0;
                let IntLen = IntegerNum.length;
                for (let i = 0; i < IntLen; i++) {
                    let n = IntegerNum.substr(i, 1);
                    let p = IntLen - i - 1;
                    let q = p / 4;
                    let m = p % 4;
                    if (n === "0") {
                        zeroCount++;
                    } else {
                        if (zeroCount > 0) {
                            ChineseStr += cnNums[0];
                        }
                        zeroCount = 0; //归零
                        ChineseStr += cnNums[parseInt(n)] + cnIntRadice[m];
                    }
                    if (m === 0 && zeroCount < 4) {
                        ChineseStr += cnIntUnits[q];
                    }
                }
                ChineseStr += cnIntLast;
            }
            if (DecimalNum !== '') { //小数部分
                decLen = DecimalNum.length;
                for (i = 0; i < decLen; i++) {
                    n = DecimalNum.substr(i, 1);
                    if (n !== '0') {
                        ChineseStr += cnNums[Number(n)] + cnDecUnits[i];
                    }
                }
            }
            if (ChineseStr === '') {
                ChineseStr += cnNums[0] + cnIntLast;
            }
            return ChineseStr;
        }
      }
    })
  </script>
</body>

</html>