<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Video To Gif</title>
  <script src="./asserts/head.js"></script>
</head>

<body style="overflow: hidden;">
  <div id="root" style="height:100%;">
    <pan-navbar title="视频转动画"></pan-navbar>

    <div  class="mainContainer p-3">
      <div style="margin:12px 1rem;">
        <button class="button is-outline is-primary is-medium" plain @click="openVideo()"><i class="fa fa-folder-open"></i></button>
        <button class="button is-outline is-success" plain @click="initAll" :disabled="start">初始化所有配置参数</button>
        <button class="button is-outline is-success" plain @click="drawVideo" v-if="!start">开始截图</button>
        <button class="button is-outline is-success" plain @click="finishDrawVideo" v-if="start">停止截图</button>
        <button class="button is-outline is-success" plain @click="createGif">生成Gif</button>
        <button class="button is-outline is-success" plain @click="download">下载Gif</button>
        <input class="file" ref="videoChoose" @change="onChange" type="file" hidden style="display: none;">

        <div>
          <label for="customRange1" class="form-label">图片比（{{percent}}%)</label>
          <input type="range" class="form-range" id="customRange1" :disabled="start" v-model="percent" :min="1" :max="200" style="width: 200px;vertical-align: middle;">
        </div>
        
      </div>
      <div style="height: calc(100% - 2.5rem);margin-top:0.2rem;">
        <div style="height: 33%;background-color: black;text-align: center;">
          <video style="max-width:100%;background-color: black;margin-top: 0.2rem;height:100%;margin:0;" ref="video"
            controls muted></video>
        </div>

        <div style="padding:10px;height:66%;">
          <img ref="gif" style="height:40%;">
          <div>
            <span class="badge bg-secondary">帧数：{{count}}</span>
          </div>
          <div style="overflow: auto;height:calc(60%);display: none;" id="captures" ref="captures">

          </div>
        </div>
      </div>
    </div>
  </div>


  </div>

  <script src="./asserts/gif.js/gif.js"></script>
  <script>
    new Vue({
      el: '#root',
      data() {
        return {
          start: false,
          raw: '',
          newVal: '',
          percent: 10,
          progress: 0,
          delay: 200,
          timeoutKeeper: null,
          count: 0

        }
      },
      mounted() {
      },
      methods: {
        initAll() {
          this.rangEnable = true;
          this.percent = 100;
        },
        openVideo() {
          var e = document.createEvent("MouseEvents");
          e.initEvent("click", true, true);
          this.$refs.videoChoose.dispatchEvent(e);
          this.count = 0;
          this.initAll();
        },
        onChange(e) {
          this.$refs.video.src = URL.createObjectURL(e.target.files[0]);
        },
        drawVideo() {
          this.start = true;
          let video = this.$refs.video;
          let ratio = video.offsetWidth / video.offsetHeight;
          let canvas = document.createElement("canvas");
          canvas.width = video.offsetWidth * this.percent / 100.0;
          canvas.height = Math.floor(canvas.width / ratio);
          console.log(canvas)
          this.$refs.captures.appendChild(canvas);
          let ctx = canvas.getContext('2d');
          ctx.drawImage(video, 0, 0, canvas.width, canvas.width / ratio)
          video.play();
          this.timeoutKeeper = setTimeout(this.drawVideo, this.delay);
        },
        finishDrawVideo() {
          clearTimeout(this.timeoutKeeper);
          this.timeoutKeeper = null
          this.start=false;
          this.$refs.video.pause();
        },
        createGif() {
          this.$refs.video.pause();
          let gif = new GIF({
            workers: 2,
            quality: 10
          });
          document.querySelectorAll("#captures canvas").forEach(function (it, idx, all) {
            gif.addFrame(it, { delay: 200 });
          });
          let that = this;
          gif.on('finished', function (blob) {
            that.$refs.gif.src = URL.createObjectURL(blob);
          });
          gif.render();
        },
        download() {
          window.open(this.$refs.gif.src)
        }
      }
    })
  </script>
</body>

</html>